/* Shared variables */
:root {
    --sl-font-mono: 'JetBrains Mono', 'Fira Code', monospace;
    --sl-color-accent: #0088cc;
}

/* Dark Mode Scoped Colors */
:root[data-theme='dark'] {
    --sl-color-accent-low: #0d1b2a;
    --sl-color-accent: #00f0ff;
    --sl-color-accent-high: #70f8ff;
    --sl-color-white: #f8fafc;
    --sl-color-gray-1: #eceef2;
    --sl-color-gray-2: #c0c7d3;
    --sl-color-gray-3: #8899a6;
    --sl-color-gray-4: #334155;
    --sl-color-gray-5: #1e293b;
    --sl-color-gray-6: #0f172a;
    --sl-color-black: #020617;
}

/* Light Mode Card Styling */
:root[data-theme='light'] .card {
    border: 1px solid #cbd5e1 !important;
    background-color: #f8fafc !important;
}

:root[data-theme='dark'] .card {
    border: 1px solid var(--sl-color-gray-5) !important;
    background-color: var(--sl-color-gray-6) !important;
    border-radius: 6px;
}

code {
    font-family: var(--sl-font-mono);
}
